/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: lightblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px lightblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-group {
  display: flex;
  align-items: center;
}

.switch-label {
  padding: 5px;
}

* {
  font-family: sans-serif;
}

.title {
  font-weight: bold;
  font-size: larger;
}

.filters .bar-charts, .filters .dropdowns {
  display: flex;
}

.filters .filter {
  margin: 10px;
}

.filters svg {
  margin-top: 10px;
}

.switch-group,
.filters input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.switch-group .title {
  margin-left: 10px;
}

.too-much-data {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.filter input {
  width: 250px;
  height: 30px;
}

.details {
  background-color :aliceblue;
  outline: thin solid black;
  width: 400px;
  height: 100%;
  padding: 10px;
}

.personDetails, .institutionDetails {
  display: flex;
  align-items: flex-end;
}

.details-title {
  margin-right: 8px;
  font-weight: bold;
}

.project span {
  margin-right: 8px;
}

.project-title {
  font-weight: bold;
}

.time-frame {
  font-style: italic;
}

.project-list {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.project {
  border-top: 1px solid gray;
  padding: 10px;
}

.project:last-of-type {
  border-bottom: 1px solid gray;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}

.institutions li {
  list-style: none;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
}

.institutions {
  padding-left: 0px;
  padding-top: 10px;
}

.person-details {
  padding: 10px;
}

.institution-details {
  padding: 10px;
  margin-bottom: 10px;
}

.project-details .details-title {
  padding-left: 10px;
}

text.count {
  font-size: 10px;
}
